# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
env/
venv/
.venv/

# Django
*.log
local_settings.py
db.sqlite3

# Frontend
client/
node_modules/
package-lock.json
package.json

# Media files
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
*.pdf